.header-menu {
  padding: 0px 48px;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  padding-top: 47px;
  align-items: center;
}

.header-menu .left-block {
  display: flex;
  align-items: center;
  gap: 88px;
  font-family: Inter;
  font-size: 12.091px;
}

.header-menu .logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-menu .logo img {
  max-width: 24px;
  width: 100%;
}

.header-menu .logo span {
  color: #fff;
  font-family: Inter;
  font-size: 11.446px;
  font-style: normal;
  font-weight: 700;
  line-height: 128.023%;
  text-decoration: line-through;
}

.header-menu ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid transparent;
  font-style: normal;
  font-weight: 400;
  line-height: 128.023%;
  padding: 5px 10px;
  border-radius: 7px;
  transition: all 0.3s;
}

.header-menu ul li a:hover {
  border: 1px solid #fff;
}

.header-menu ul li a.active {
  color: #fff;
  font-weight: 600;
}

.header-menu .registration-btn {
  display: flex;
  gap: 14px;
}

.header-menu .registration-btn button {
  cursor: pointer;
}

.header-menu .login-btn {
  color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  font-weight: 400;
  line-height: 128.023%;
  background: none;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.header-menu .login-btn:hover {
  background: #000;
  border: 1px solid #fff;
}

.header-menu .sign-up-btn {
  min-width: 114px;
  padding: 8.636px 13.818px;
  border-radius: 7px;
  border: 0.864px solid #d66567;
  background: #bc4749;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 128.023%;
  transition: all 0.2s;
}

.header-menu .sign-up-btn:hover {
  background-color: #d66567;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
